[Desktop Entry]
Name=Subbox
GenericName=Music player
Exec=${SUBBOX_DESKTOP_EXECUTABLE} ${SUBBOX_DESKTOP_ARGS}
TryExec=${SUBBOX_DESKTOP_EXECUTABLE}
Terminal=false
Type=Application
Icon=org.jeffvli.subbox
StartupWMClass=subbox
SingleMainWindow=true
Categories=AudioVideo;Audio;Player;Music;
Keywords=Navidrome;Jellyfin;Subsonic;OpenSubsonic
Comment=A player for your self-hosted music server
